name: test

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        go-version:
          - '1.15.x'
          - '1.16.x'
          - '1.17.x'
        platform: [ubuntu-latest]

    name: test
    runs-on: ${{ matrix.platform }}

    steps:
      - name: checkout the code
        uses: actions/checkout@v2

      - name: setup go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: run unit tests
        run: make test

      - name: upload code coverage
        uses: codecov/codecov-action@v2.1.0
        if: contains(github.ref, 'master')
        with:
          file: ./cover.out
